
body{
    margin: 0;
    height: 100vh;
    border: 2px solid red;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    border: 2px solid blue;
    padding: 15px;

}

a {
    color: black;
    text-decoration: none;
    border: 2px solid green;
    width: 95px;
    height: 40px;
    box-sizing: border-box;
}
