
body{
    margin: 0;
    height: 100vh;
    border: 2px solid red;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    border: 2px solid blue;
    padding: 15px;

}

a {
    width: 70px;
    height: 35px;
    border: 2px solid green;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
